@charset "utf-8";
/*CSSで全体サイズなど決める*/
@font-face {
  font-family: 'Shippori Mincho B1', serif;
  src: url('font/ShipporiMinchoB1-Bold.ttf') format('ttf');
}
.titlefont{
 font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	background-color: black;
	padding: 0 8px;
	border-radius: 5px;
}
.myfont {
  font-family: 'Shippori Mincho B1', serif;
	font-weight: 600;	
}
body {
  margin: 0;
}
#bg {
  margin: 0;
  height: 720px;
  width: 100%;
  min-height: 100vh;
  /*max-width: 1200px;*/
  place-items: center;
  background-image: url("images/bg_pattern.png");
  background-position: center x;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#site-box {
  width: 100%;
  height: 720px;
  background-image: url("images/bg.png");
  background-size: cover;
  text-align: right;
  vertical-align: top;
  margin: auto;
  min-width: 1080px;
  max-width: 1080px;
  max-height: 720px;
  background-repeat: no-repeat;
  background-position: center center;
}
.vertical:not(.am24) {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: inline-block;
  position: relative;
  top: 120px;
  right: 7%;
  margin: 0 auto;
	height: 510px;
}
.vertical .am24{
	writing-mode: horizontal-tb;
	text-orientation: mixed;
	  position: relative;
	float: right;
	right: 375px;
	font-size: 2.5rem;
}

.vertical p {
  text-align: left;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.4rem;	
}
.vertical p a {
  text-decoration: none;
}
.vertical .link-bk {
  margin-right: 4vw;
  width: 225px;
  height: auto;
  background-image: url(images/link-bk.png);
  background-size: auto;
  background-position: 10px 85px;
  background-repeat: no-repeat;
}
.vertical .link-bk p.myfont a {
  color: black;
  margin-top: 130px;
}
.vertical .link-bk p.myfont a:hover{
background: #FFFFFF;
background-size: 105%;

}
.vertical .title-img {
  position: absolute;
  top: 360px;
  left: 1vw;
transition: all 0.5s ease-in;
}
.vertical .title-img:hover{
filter: brightness(110%);
transform: scale(1.05);
}
.under-top {
  padding: 60% 46%;
}
.A:hover{
color: white;
background-color: black;
}
.B:hover{
color: white;
background-color: black;
}

.C{
	letter-spacing: 0.1rem!important;
}
.C:hover{
	color: white;
	background-color: black;
}
.D:hover{
	color: white;
	background-color: black;
}
.E:hover{
	color: white;
	background-color: black;
}
.F:hover{
	color: white;
	background-color: black;
}
.G:hover{
	color: white;
	background-color: black;
}
.H:hover{
	color: white;
	background-color: black;
}
.I:hover{
	color: white;
	background-color: black;
}
.J:hover{
	color: white;
	background-color: black;
}
.K:hover{
	color: white;
	background-color: black;
}
.L:hover{
	color: white;
	background-color: black;
}
.M:hover{
	color: white;
	background-color: black;
}
.N:hover{
	color: white;
	background-color: black;
}
.O:hover{
	color: white;
	background-color: black;
}
.PQ{
	-ms-text-combine-horizontal: all;
	-webkit-text-combine: horizontal;
	text-combine-upright: all;
	position: absolute;
	right: 18px;
}
.PQ:hover{
	color: white;
	background-color: black;
}
.R{
	margin-top: 1.4rem;
}
.R:hover{
	color: white;
	background-color: black;
}
.S:hover{
	color: white;
	background-color: black;
}
.T:hover{
	color: white;
	background-color: black;
}
.U:hover{
	color: white;
	background-color: black;
}
.V{
	letter-spacing: 0.1rem!important;	
}
.V:hover{
	color: white;
	background-color: black;
}
.W:hover{
	color: white;
	background-color: black;
}
