@charset "utf-8";
/*CSSで全体サイズなど決める*/
@font-face {
  font-family: 'Shippori Mincho B1', serif;
  src: url('font/ShipporiMinchoB1-Bold.ttf') format('ttf');
}
.myfont {
  font-family: 'Shippori Mincho B1', serif;
}
body {
  margin: 0;
}
#bg {
  margin: 0;
  height: 720px;
  width: 100%;
  min-height: 100vh;
  /*	max-width: 1200px;*/
  place-items: center;
  background-image: url("images/bg_pattern.png");
  background-position: center x;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#site-box {
  width: 100%;
  height: 720px;
  background-image: url("images/bg.png");
  background-size: cover;
  text-align: right;
  vertical-align: top;
  margin: auto;
  min-width: 1080px;
  max-width: 1080px;
  max-height: 720px;
  background-repeat: no-repeat;
  background-position: center center;
}
.vertical {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: inline-block;
  position: relative;
  top: 120px;
  right: 7%;
  margin: 0 auto;
}
.vertical p {
  text-align: left;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.4rem;
	/*1字ずつ表示実験失敗
	width: 3.4rem;
	white-space: nowrap;
	overflow: hidden;
	border-right: 1px solid rgba(255,255,255,.5);
	animation: typing 1.5s steps(266),blink .5s steps(1) infinite alternate;
	*/
}
.vertical p a {
  text-decoration: none;
}
.vertical .link-bk {
  margin-right: 4vw;
  width: 225px;
  height: auto;
  background-image: url(images/link-bk.png);
  background-size: auto;
  background-position: 10px 85px;
  background-repeat: no-repeat;
}
.vertical .link-bk p.myfont a {
  color: black;
  margin-top: 130px;
}
.vertical .link-bk p.myfont a:hover{
	background: #FFFFFF;
	background-size: 105%;

}
.vertical .title-img {
  position: absolute;
  top: 360px;
  left: 1vw;
	transition: all 0.5s ease-in;
}
.vertical .title-img:hover{
	filter: brightness(110%);
	transform: scale(1.05);
}
.under-top {
  padding: 60% 46%;
}