* {
  outline: 2px red solid;
}

body {
  background-image: url(images/polygon-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.wrap {
  overflow: hidden;
  width: 345px;
  height: auto;
  max-width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

label {
  position: absolute;
  z-index: 1;
}

input {
  display: none;
}

input:checked ~ label {
  right: 0;
}

.burger {
  position: relative;
  left: 41vw;
  cursor: pointer;
}

.burger g {
  stroke: #757575;
  -webkit-transition: stroke 0.25s ease-in-out;
  transition: stroke 0.25s ease-in-out;
}

.burger g:hover {
  stroke: #ff0adb;
}

input:checked ~ label .burger {
  opacity: 0;
}

.close {
  position: relative;
  top: 24px;
  cursor: pointer;
  opacity: 0;
}

.close g:hover {
  stroke: #cccccc;
}

.close g {
  stroke: #ffffff;
  -webkit-transition: stroke 0.25s ease-in-out;
  transition: stroke 0.25s ease-in-out;
}

.close line {
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

.close g {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
}

input:checked ~ label .close {
  opacity: 1;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: tomato;
  -webkit-transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

input:checked ~ .menu {
  opacity: 1;
}

.menu div {
  margin-top: 50px;
  -webkit-transition: margin 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: margin 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input:checked ~ .menu div {
  margin-top: 0px;
}

p {
  font-size: 10px;
  font-family: 'M PLUS 1p', sans-serif;
}

#A_section {
  margin-top: 5vh;
}

#M_section {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#p24_section {
  margin-top: 15vh;
}

#p24_section .fukidashi {
  margin-top: 10vh;
}

#p24_section .name_table-novel ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
}

#p24_section .name_table-novel ul li {
  width: 50%;
  border: 1px;
  text-align: center;
}

#p24_section .name_table-illust ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
}

#p24_section .name_table-illust ul li {
  width: 50%;
  border: 1px;
  text-align: center;
}

.title_section {
  margin-left: 20px;
}

#colon_section {
  margin-top: 15vh;
}

.book-bg {
  background-image: url(images/book-bg.png);
  background-repeat: no-repeat;
  width: auto;
  height: 248px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}

.book-bg .introduction p.right-font {
  text-align: right;
  position: absolute;
  right: 67px;
  top: 450px;
}

.book-bg .panel-group .novel_products {
  overflow-y: scroll;
  width: 100%;
  height: 185px;
}

.member-left {
  width: 150px;
  position: relative;
}

.member-left .C-icon {
  position: absolute;
  top: 100px;
  left: -10px;
}

.contact-left {
  width: 150px;
  padding-left: 10px;
  padding-top: 20px;
}

.contact-right {
  padding-left: 20px;
  padding-top: 20px;
}

.member-right {
  margin-left: 20px;
  position: relative;
}

.member-right .N-icon {
  position: absolute;
  top: 140px;
  left: -10px;
}

.illust_products {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.illust_products .illust-left {
  position: relative;
}

.illust_products .illust-right {
  position: relative;
  margin-left: 30px;
}

.next {
  position: relative;
  width: 100vw;
  height: 4vh;
  margin-top: -30px;
}

.next p {
  position: absolute;
  right: 9vw;
}

#sns {
  -webkit-mask-image: url("images/sns_mask.png");
          mask-image: url("images/sns_mask.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  padding: 40px 40px 50px 20px;
  background-color: white;
}

.footer {
  background-color: black;
  width: 100%;
  height: auto;
}

.footer p {
  color: white;
  text-align: center;
}

.tab-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tab {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px;
  list-style: none;
  border: solid 1px #CCC;
  text-align: center;
  cursor: pointer;
}

.panel-group {
  height: 100px;
  border: solid 1px #CCC;
  border-top: none;
  background: #eee;
}

.panel {
  display: none;
}

.tab.is-active {
  background: #F00;
  color: #FFF;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.panel.is-show {
  display: block;
}
/*# sourceMappingURL=style.css.map */