body {
  width: 360px;
  background-image: url(images/polygon-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

label {
  position: absolute;
  z-index: 1;
}

input {
  display: none;
}

input:checked ~ label {
  right: 0;
}

.burger {
  position: relative;
  left: 280px;
  cursor: pointer;
}

.burger g {
  stroke: #757575;
  -webkit-transition: stroke 0.25s ease-in-out;
  transition: stroke 0.25s ease-in-out;
}

.burger g:hover {
  stroke: #ff0adb;
}

input:checked ~ label .burger {
  opacity: 0;
}

.close {
  position: relative;
  top: 24px;
  cursor: pointer;
  opacity: 0;
}

.close g:hover {
  stroke: #cccccc;
}

.close g {
  stroke: #ffffff;
  -webkit-transition: stroke 0.25s ease-in-out;
  transition: stroke 0.25s ease-in-out;
}

.close line {
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

.close g {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
}

input:checked ~ label .close {
  opacity: 1;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: tomato;
  -webkit-transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

input:checked ~ .menu {
  opacity: 1;
}

.menu div {
  margin-top: 50px;
  -webkit-transition: margin 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: margin 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input:checked ~ .menu div {
  margin-top: 0px;
}

p {
  font-size: 10px;
}

#A_section {
  margin-top: 5vh;
}

#M_section {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#p24_section {
  margin-top: 15vh;
}

#p24_section .fukidashi {
  margin-top: 10vh;
}

.title_section {
  margin-left: 20px;
}

#colon_section {
  margin-top: 15vh;
}

.book-bg {
  background-image: url(images/book-bg.png);
  background-repeat: no-repeat;
  width: 344px;
  height: 248px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}

.book-bg .next {
  position: relative;
  width: 100vw;
}

.book-bg .next p {
  position: absolute;
  top: 230px;
  right: 50px;
}

.book-bg .member-left {
  width: 150px;
  position: relative;
}

.book-bg .member-left .C-icon {
  position: absolute;
  top: 100px;
  left: -10px;
}

.book-bg .contact-left {
  width: 150px;
}

.book-bg .member-right {
  margin-left: 20px;
  position: relative;
}

.book-bg .member-right .N-icon {
  position: absolute;
  top: 140px;
  left: -10px;
}

#sns {
  -webkit-mask-image: url("images/sns_mask.png");
          mask-image: url("images/sns_mask.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  padding: 40px 40px 50px 20px;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */